.studentregistration-table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
}
.studentregistration-table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #EDEDED;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.studentregistration-table tr th:first-child, .studentregistration-table tr td:first-child {
  border-left: 1px solid #ddd;
}
.studentregistration-table tr th:last-child, .studentregistration-table tr td:last-child {
  border-right: 1px solid #ddd;
}
.studentregistration-table thead tr th:first-child {
  border-radius: 20px 0 0 0;
}
.studentregistration-table thead tr th:last-child {
  border-radius: 0 20px 0 0;
}
.studentregistration-table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.studentregistration-table tbody tr:nth-child(even) {
  background: #F8F8F8;
}
.studentregistration-table tbody tr:last-child td{
  border-bottom: 1px solid #ddd;
}
.studentregistration-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}
.studentregistration-table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}
